<!DOCTYPE html>
<html id="<%= @example_id %>" class="<%= @example_class %>">
  <head>

    <title>Example</title>

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, target-densityDpi=device-dpi, user-scalable=no" />

    <%= stylesheet_link_tag 'examples', media: 'all'%>
    <%= javascript_include_tag 'examples' %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
